.arial-black {
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 90;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}